<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El portal donde podrás crear tus propios juegos</p>

    <form method="get" action="/quizes">
    <label>Elige tema:</label>
    <select name="tema">
	<option name="Humanidades" value="Humanidades">Humanidades</option>
	<option name="Ocio" value="Ocio">Ocio</option>
	<option name="Ciencia" value="Ciencia">Ciencia</option>
	<option name="Tecnología" value="Tecnología">Tecnología</option>
	<option name="Otro" value="Otro">Otro</option>
	<input type="submit">
</select>
</form>
  </body>
</html>
