<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El portal donde podrás crear tus propios juegos</p>

    <form method="get" action="/quizes">
    	<label>Elige tema:</label>
    <select name="tema">
	<option name="humanidades" value="humanidades"
	<% if (quiz.tema==="humanidades") { %> selected <% } %>
	>Humanidades</option>
	<option name="ocio" value="ocio"
	<% if (quiz.tema==="ocio") { %> selected <% } %>
	>Ocio</option>
	<option name="ciencia" value="ciencia"
	<% if (quiz.tema==="ciencia") { %> selected <% } %>
	>Ciencia</option>
	<option name="tecnologia" value="tecnologia"
	<% if (quiz.tema==="tecnologia") { %> selected <% } %>
	>Tecnología</option>
	<option name="otro" value="otro"
	<% if (quiz.tema==="otro") { %> selected <% } %>
	>Otro</option>
	<input type="submit">
</select>
</form>
  </body>
</html>
