<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>El portal donde podrás crear tus propios juegos</p>

    <form method="get" action="/quizes">
    	<label>Elige tema:</label>
    <select name="tema">
	<option name="humanidades" name="humanidades">Humanidades</option>
	<option name="ocio" name="ocio">Ocio</option>
	<option name="ciencia" name="ciencia">Ciencia</option>
	<option name="tecnologia" name="tecnologia">Tecnología</option>
	<option name="otro" name="otro">Otro</option>
	<input type="submit">
</select>
</form>
  </body>
</html>
