* {
	margin: 0;
	padding:0;
}
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap{
	margin: 2% auto;
	color: white;
}

#page-wrap > .main {
	border: 1px solid #4a4a4a;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
	padding:20px;
}

header, nav, section {
	background: #5a5a5a;
}

footer {
	background: #6a6a6a;
}

nav span {
	margin: 0px 10px 0px 0px;
}

a {
  color: #00B7FF;
}