* {
	margin: 0;
	padding:0;
}
body {
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#page-wrap{
	margin: 2% auto;
	color: white;
}

#page-wrap > .main {
<<<<<<< HEAD
	/*border: 1px solid #4a4a4a;*/
=======
	border: 1px solid #053b65;
>>>>>>> busquedas
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

section > div {
	padding:20px;
}

header, nav, section {
<<<<<<< HEAD
	background: #ffebaa;
}

footer {
	background: #d4bb6a;
=======
	background: #277553;
}

footer {
	background: #0e7046;
>>>>>>> busquedas
}

nav span {
	margin: 0px 10px 0px 0px;
}

#ErrorMsgs {
	color: #f61;
	font-size: smaller
}

a {
	text-decoration: none;
<<<<<<< HEAD
	color: #554100;
}

a:hover{
	color: #806615;
=======
	color: #000;
}
a:hover {
	color: #333;
>>>>>>> busquedas
};