nav {
  float:left;
  width: 15%;
  padding-bottom: -32767px;
  margin-bottom: -32767px;
}

nav span {
	margin: 0px 100px 0px 0px;
}

section {
	float: right;
	width: 80%;
	min-height: 200px;
}

footer {
	clear: both;
	display: block;
}