<label for="tema" class="rem">Tema</label>
<select id="tema" name="quiz[tema]" value="<%= quiz.tema %>">
	<option value="humanidades"
	<% if (quiz.tema==="humanidades"||"Humanidades") { %> selected <% } %>
	>Humanidades</option>
	<option value="ocio"
	<% if (quiz.tema==="ocio"||"Ocio") { %> selected <% } %>
	>Ocio</option>
	<option value="ciencia"
	<% if (quiz.tema==="ciencia"||"Ciencia") { %> selected <% } %>
	>Ciencia</option>
	<option value="tecnologia"
	<% if (quiz.tema==="tecnologia"||"Tecnología") { %> selected <% } %>
	>Tecnología</option>
	<option value="otro"
	<% if (quiz.tema==="otro"||"Otro") { %> selected <% } %>
	>Otro</option>
</select><br>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Enviar">