
<form method="get" action="/quizes">
<label for="tema" class="rem">Tema</label>
<select id="tema" name="quiz[tema]" value="<%= quiz.tema %>">
	<option name="Humanidades" value="humanidades">Humanidades</option>
	<option name="Ocio" value="ocio">Ocio</option>
	<option name="Ciencia" value="ciencia">Ciencia</option>
	<option name="Tecnologia" value="tecnologia">Tecnología</option>
	<option name="Otro" value="otro">Otro</option>
</select>
</form>
<br>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Enviar">