<label for="tema" class="rem">Tema</label>
<!--<input type="text" id="tema" name="quiz[tema]" value="<%= quiz.tema %>"/><p>-->
<select id="tema" name="quiz[tema]" value="<%= quiz.tema %>">
	<option name="humanidades" name="humanidades" selected>Humanidades</option>
	<option name="ocio" name="ocio">Ocio</option>
	<option name="ciencia" name="ciencia">Ciencia</option>
	<option name="tecnologia" name="tecnologia">Tecnología</option>
	<option name="otro" name="otro">Otro</option>
</select>
<label for="preg" class="rem">Pregunta:</label>
<input type="text" id="preg" name="quiz[pregunta]" value="<%= quiz.pregunta %>"/> <p>
<label for="resp" class="rem">Respuesta:</label>
<input type="text" id="resp" name="quiz[respuesta]" value="<%= quiz.respuesta %>"/> <p>
<a href="/quizes"><button type="button">Cancelar</button></a>
<input type="submit" value="Enviar">