<form method="get" action="/quizes">
	<label for="search" class="rem"></label>
	<input type="text" name="search" value="Buscar pregunta" onFocus="this.value=''"/>
	<button type="submit">Enviar</button>
</form><br><p>
<p>No hay preguntas con ese contenido </p>

				<a href="quizes/">Volver</a>
<br><p>

<form method="get" action="/quizes">
<label>Tema </label>
    <select name="tema">
    <option value="Selecciona tema" disabled
    	 selected>
    	 Selecciona tema</option>
	<option value="Humanidades"
		<% if (quizes[0].tema==="Humanidades") { %> selected <% } %>
	>Humanidades</option>
	<option value="Ocio"
		<% if (quizes[0].tema==="Ocio") { %> selected <% } %>
	>Ocio</option>
	<option value="Ciencia"
		<% if (quizes[0].tema==="Ciencia") { %> selected <% } %>
	>Ciencia</option>
	<option value="Tecnología"
		<% if (quizes[0].tema==="Tecnología") { %> selected <% } %>
	>Tecnología</option>
	<option value="Otro"
		<% if (quizes[0].tema==="Otro") { %> selected <% } %>
	>Otro</option>
	<input type="submit">
</select><br><br>
</form>
<a href = "/quizes/new"><button type"button">Crear pregunta</button></a>
